
.en-tete
{
    background-color: #0475ba;
    color: white;
}

.container
{
    margin: 16px auto
}
.name1
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
    font-size: 30px;

.menu1
{

}

.name2
{

}

.photo
{

}

.presentation
{

}

.experiences
{

}