html
{
    font-style: Poppins;
}

header
{
    background-color: #0475ba;
    color: white;
    padding: 40px;
}

.box
{

}

.blue
{
    background-color: #0475ba;
    color: white;
}

.link
{
    color: white;
    
}

a:visited 
{
    color:white;
}

#menu1 a:link 
{ 
    text-decoration:none; 
} 

.p
{
    color: #0475ba;
}

.liens1, liens2
{
    padding: 40px;
}
