
.en-tete
{
    background-color: #0475ba;
    color: white;
}

div.name
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
    font-size: 30px;
}

div.presentation
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
    background-color: #0475ba;
    color: white;
}

div.experiences
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
}

div.formations
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
    background-color: #0475ba;
    color: white;
}

div.passions
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content:center;
}

#liens
{
    background-color: #0475ba;
    color: white;
}